<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<nav>
<h5 class="Br">B R <span id="a">Architects</span> </h5>

<ul>
<li><a href="#example">Project</a></li>
<li><a href="#example">About</a></li>
<li><a href="#example">Contact</a></li>



</ul>
</nav>

<section>
<article>
<div class="summer">





</div>



<div class="box">Summer House</div>
</article>

<article>
<div class="spring">





</div>



<div class="box2">Brick House</div>
</article>
</section>




</body>
</html>