h1{
	font-size: 40px;
	text-align: center;
	border: 24px;
	border-color: darkblue;
	background-color: lightblue;
	margin: 25px;
	padding: 11px;
	border-style: solid;
	border-radius: 17px;
}

body{
	background-color: lightblue;
}

h2{
	text-align: center;
	background-color: lightblue;
	border: 10px dotted skyblue;
	margin: 13px;
	padding: 11px;
	border-radius: 14px;
}
p{
	text-align: center;
}

ol{
	text-align: center;
}

.left{
	height: 60px;
	border: 7px double;
	border-color: skyblue;
	align-items: center;

}

ul{
	text-align: center;
}

