h1{
	text-align: center;
}


#black{
	color: black;
	background: black;
}

#red{
	color: red;
	background: red;
}

#yellow{
	color: yellow;
	background: yellow;
}

p{
	color: black;
	background-color: white;
}

img{
	width: 300px;
	floot: right;
	border: double red;
	
}












































































	


